.uploaded-images-section {
  margin-bottom: 2rem;
  width: 100%;
}

.uploaded-images-section h2 {
  font-size: 2.4rem;
  color: #333333;
  margin-bottom: 1rem;
  text-align: center;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: center;
}

.image {
  flex: 0 0 calc(33.33% - 1rem);
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image p {
  font-size: 1.8rem;
  color: #555555;
  margin: 0.5rem 0;
  padding: 1rem;
}

.image img {
  max-width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 1rem 0;
  background-color: #f7f9fc;
  min-height: calc(100vh - 120px);
  background-image: linear-gradient(
      rgba(205, 173, 173, 0.806),
      rgba(12, 12, 12, 0.919)
    ),
    url("../images/sketchpage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.upload-container h2 {
  font-size: 1.7rem;
  color: #333333;
  font-weight: 500;
  margin: 1rem 0;
}

.file-input {
  margin: 1rem 0;
}

.upload.button {
  padding: 0.5rem 2rem;
  color: #333333;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.632);
}

.save.button,
.delete.button {
  padding: 0.5rem 2rem;
  background: linear-gradient(to bottom, #ddaa44d3; #bb7e1d;);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  text-decoration: none;
  margin: 1rem 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.632);
}

.save.button:hover,
.delete.button:hover {
  background: linear-gradient(to bottom, #bb7e1d;, #ddaa44d3;);
}

.image-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-display img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
}

.image-message {
  color: #777777;
  font-size: 1.9rem;
}
