

:root {
  --primary-color: #EE7B30;
  --secondary-color: #D1B490; 
  --contrast-color: #1F2232;
  --contrast-2: #8AA8A1;
  --text-color: #413e3e; 
  --text-2: #ddddeb;
}

*{
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.app {
  font-family: "Amatic SC", cursive;
}

html{
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
}



.button {
    padding: 0.5rem 2rem;
    background: linear-gradient(to bottom,   #EE7B30,  #D1B490);
    color: var(--text-2);
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    text-decoration: none;
    margin: 1rem 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.632);
  
}

.button:hover {
  background: linear-gradient(to bottom,  #D1B490, #EE7B30)

}


img {
  max-width: 100%;
  height: auto;
  border: 2px dashed var(--primary-color);
  transition: transform 0.2s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  body {
    font-size: 1.4rem;

  }
  .nav-links{
    font-size: 1.4rem;
    margin-right: 0.5rem;
  }
  .landing-page h1,  .tagline, .title {
    font-size: 1.4rem;
  }
  .footer p{
    font-size: 1rem;
  }
}
